/*@{
  Layout="Shared/_Layout.cshtml";
}*/
    <h1>Turtle Tippers</h1>
    <div class="row background">
      <div class="col-sm-12">
        <div class="rules">
          <h2 class="player-title">Rules</h2>
          <p>
            Enlist friendly forest animals to protect your turtles from cruel attacks. Don't let your rival animals tip your beloved turtles!
          </p>
          <p>
            Each player selects cards from their hand to fight and protect their turtles. After the battle, if no cards are left to protect your turtles they will be tipped! Do the same to your opponent's hideous turtles. Once a player's turtles are all tipped the game is over.
          </p>
          <h5>Play Cards</h5>
          <ul>
            <li>Choose cards from your hand to play in front of your turtles.</li>
            <li>Fruit cards will revive tipped turtles.</li>
            <li>Up to 6 cards can be in play at a time.</li>
          </ul>
          <h5>Combat</h5>
          <ul>
            <li>Choose one target from your opponent's cards for each of your champions to attack.</li>
            <li>Keep attacking until all your animals take a turn.</li>
            <li>If your opponent has no defenders, each attacker left will tip a turtle.</li>
            <li>If you have no attackers, you must skip your combat turn.</li>
          </ul>
        </div>
      </div>
    <div class="row">
      <form  action="/game" method="post">
      <div class="col-sm-6 start-button">
        <label for="deck-size">Deck Size:</label>
        <input type="number" name="deck-size" max="100" min="10" value="30" required>
      </div>
      <div class="col-sm-6 start-button">
        <label for="draw-limit">Draw Limit</label>
        <input type="number" name="draw-limit" required min="1" max="5" value="3">
      </div>
    </div>
    <div class="row">
        <div class="col-sm-6 start-button">
          <h2 class="player-title">Player 1</h2>
          <label for="player-1">Enter your battle name</label>
          <input type="text" name="player-1" autofocus required>
        </div>
        <div class="col-sm-6 start-button">
          <h2 class="player-title">Player 2</h2>
          <label for="player-2">Enter your battle name</label>
          <input type="text" name="player-2" required>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 start-button">
          <br>
          <button type="submit" class="btn btn-success" >Start Game</button>
          <br>
        </div>
      </div>
    </form>
  </div>
</div>
</div>
