@{
  Layout="Shared/_Layout.cshtml";
}
    <h1>Turtle Tippers</h1>
    <div class="row">
      <div class="col-md-6">
        <h2>Player 1</h2>
        <div class="row">
          <div class="col-md-4">
            <img src="/Content/img/turtle.png" id="p1t1" alt="an image of a turtle"/>
            <img src="/../Content/img/turtle.png" id="p1t2" alt="an image of a turtle"/>
            <img src="/../Content/img/turtle.png" id="p1t3" alt="an image of a turtle"/>
            <img src="/../Content/img/turtle.png" id="p1t4" alt="an image of a turtle"/>
            <img src="/../Content/img/turtle.png" id="p1t5" alt="an image of a turtle"/>
          </div>
          <div class="col-md-8">

          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h2>Player 2</h2>
        <div class="row">
            <div class="col-md-8">

            </div>
            <div class="col-md-4">
              <img src="/../Content/img/turtle.png" id="p2t1" alt="an image of a turtle"/>
              <img src="/../Content/img/turtle.png" id="p2t2" alt="an image of a turtle"/>
              <img src="/../Content/img/turtle.png" id="p2t3" alt="an image of a turtle"/>
              <img src="/../Content/img/turtle.png" id="p2t4" alt="an image of a turtle"/>
              <img src="/../Content/img/turtle.png" id="p2t5" alt="an image of a turtle"/>
            </div>
        </div>
      </div>
    </div>




            <button type="submit" class="btn btn-success">SUBMIT</button>
        </form>
    </div>
