@{
  Layout="Shared/_Layout.cshtml";
}
    <h1>Turtle Tippers</h1>
    <div class="row">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-4 turtles">
            <h2>Player 1</h2>
            <img src="/Content/img/turtle.png" id="p1t1" alt="an image of a turtle"/>
            <img src="/../Content/img/turtle.png" id="p1t2" alt="an image of a turtle"/>
            <img src="/../Content/img/turtle.png" id="p1t3" alt="an image of a turtle"/>
            <img src="/../Content/img/turtle.png" id="p1t4" alt="an image of a turtle"/>
            <img src="/../Content/img/turtle.png" id="p1t5" alt="an image of a turtle"/>
          </div>
          <div class="col-sm-8">

          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-8">
              <div class="cardDisplay">
                <div class="cardImage">
                  <img src="/../Content/img/bear.png" alt="" />
                </div>
                <div class="cardFlavor">
                  <p>Bear loves her turtles!</p>
                </div>
                <div class="cardHP pull-right">
                  <p>4</p>
                </div>
                <div class="cardAttack">
                  <p>2</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4 turtles">
              <h2>Player 2</h2>
              <img src="/../Content/img/turtle.png" id="p2t1" alt="an image of a turtle"/>
              <img src="/../Content/img/turtle.png" id="p2t2" alt="an image of a turtle"/>
              <img src="/../Content/img/turtle.png" id="p2t3" alt="an image of a turtle"/>
              <img src="/../Content/img/turtle.png" id="p2t4" alt="an image of a turtle"/>
              <img src="/../Content/img/turtle.png" id="p2t5" alt="an image of a turtle"/>
            </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="row" id="hand">
      <form action="" method="post">
        @foreach(var deckCard in Model["deck"])
        {
          @if(deckCard.PlayerId == Model["arena"].CurrentPlayerId && deckCard.InHand)
          {var card = Card.Find(deckCard.Id);
            <div class="cardDisplay">
              <div class="cardImage">
                <img src="@card.Image" alt="" />
              </div>
              <div class="cardFlavor">
                <p>@card.FlavorText</p>
              </div>
              <div class="cardHP pull-right">
                <p>@card.Defense</p>
              </div>
              <div class="cardAttack">
                <p>@card.Attack</p>
              </div>
            </div>
          }
        }
        <div class="col-sm-2" id="hand2">
          <input id="card2" type="checkbox" name="card1" class="vis-hidden" value="Aliens" />
          <label for="card2"><img src="/../Content/img/bear_card.png" alt="bear card" /></label>
        </div>
        <div class="col-sm-2" id="hand3">
          <input id="card3" type="checkbox" name="card1" class="vis-hidden" value="Aliens" />
          <label for="card3"><img src="/../Content/img/bear_card.png" alt="bear card" /></label>
        </div>
        <div class="col-sm-2" id="hand4">
          <input id="card4" type="checkbox" name="card1" class="vis-hidden" value="Aliens" />
          <label for="card4"><img src="/../Content/img/bear_card.png" alt="bear card" /></label>
        </div>
        <div class="col-sm-2" id="hand5">
          <input id="card5" type="checkbox" name="card1" class="vis-hidden" value="Aliens" />
          <label for="card5"><img src="/../Content/img/bear_card.png" alt="bear card" /></label>
        </div>
        <button type="submit" class="btn btn-success">SUBMIT</button>
      </form>

    </div>
  </div>
</div>




    </div>
