h1 {
  text-align: center;
}

.turtles img {
  height: 100px;
}
/*#hand img {
  height: 240px;
}*/
.vis-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
#hand {
  display: inline-flex;
}

input:checked + label {
  box-shadow: -10px 8px 5px red;
}

.cardDisplay {
  border: 3px solid black;
  border-radius: 10px;
  height: 265px;
  width: 180px;
  padding: 15px;
  margin: 0px 5px;
}
.cardImage img {
  display: block;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
}
.image-border {
  height: 180px;
  width: 170px;
  margin: -15px;
  overflow: hidden;
}
.cardImage {
}
.cardFlavor {
  font-size: 12px;
  text-align: center;
  height: 50px;
}
.cardAttack{
  font-size: 24px;
}
.cardHP{
  font-size: 24px;
  text-align: right;
  width: 130px;
}



.inPlay {
  height: 600px;

}
.player-title {
  text-align: center;
}

.inPlay .cardDisplay {
  border: 3px solid black;
  border-radius: 10px;
  height: 180px;
  width: 140px;
  padding: 5px;
  margin: 15px 5px;

}
.inPlay .cardImage img {
  display: block;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
}
.inPlay .image-border {
  height: 120px;
  width: 110px;
  margin: 8px;
  overflow: hidden;
}
.inPlay .cardImage {

}
.inPlay .cardFlavor {
  font-size: 12px;
  text-align: center;
  height: 2px;
}
.inPlay .cardAttack{
  font-size: 24px;
}
.inPlay .cardHP{
  font-size: 24px;
  text-align: right;
  width: 90px;
}
h3 {
  text-align: right;
}
